<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="{{ url_for('static', filename='js/login.js') }}">
    </script>
    
</head>
<body>
    <div class="box">
        <!--最上面那一层-->
        <div class="pre-box">
            <h1>WELCOME</h1>
            <p>JOIN US!</p>
            <div class="img-box">
                <img src="{{ url_for('static', filename='post_picture.jpg') }}" alt="picture">
            </div>
        </div>

        <!--注册页面-->
        <div class="register-form">
            <div class="title-box">
                <h1>注册</h1>
            </div>
            <div class="input-box">
                <input type="text" placeholder="用户名">
                <input type="password" placeholder="密码">
                <input type="password" placeholder="确认密码">
            </div>
            <div class="btn-box">
                <button>注册</button>
                <p onclick="window.mySwitch()">已有账户？登录</p>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
            
        <!--登录页面-->
        <div class="login-form">
            <div class="title-box">
                <h1>登录</h1>
            </div>
            <div class="input-box">
                <input type="text" id="username" placeholder="用户名">
                <input type="password" id="password" placeholder="密码">
            </div>
            <div class="btn-box">
                <button id="login-btn">登录</button>
                <p onclick="window.mySwitch()">还没有账户？注册</p>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>


